@font-face{
src: url(./small.ttf.otf);
  font-family: small;  
}
.icon{
border-radius: 10px;

}
.h5{ font-family: small;

}
.header{ 
   margin-left: 0%;
    display: flex;
    justify-content: space-evenly;
}
.h1
{   text-align: center;
    width: 1300px;
    margin-top: 40px;
}
.light{
font-family: small;
text-align: center;
}
.face{
    display: inline;
    
}
.table{
   margin-left: 100px;
   display: flex;
   justify-content: space-evenly;
}
.para{
    margin-left: 440px;
    margin-right: 300px;
    margin-top: 40px;
}
.para2{
    margin-left: 440px;
    margin-right: 300px;
    margin-top: 40px;
}
.pad{
    margin-top: 50px;
    margin-left: 440px;
    font-weight: bolder;

}
.img{
    margin-left: 400px;
}
.cen{
    margin-left: 490px;
    margin-bottom: 0px;
}
.den{
    margin-left: 580px;
    margin-top: 0;
}
.dot{
    margin-left: 10px;
}
.list{
    margin-bottom: 20px;
}
.last{
    margin-top: 30px;
    margin-bottom: 0%;
}
.body{
    margin: 0%;
}
    